
// -------------------------------------------- //
//  NAME: style.scss
//  VERSION: 1.0
//  DESCRIPTION: global styles
// -------------------------------------------- //

// -------------- IMPORT FONTS ---------- //
// https://fonts.google.com/specimen/Rajdhani
// https://fonts.google.com/specimen/Open+Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

// -------- IMPORT BOOTSTRAP OVERRIDES + VARS ------- //
// @import "./components/_mixins";
@import "./components/_variables";

// -------- IMPORT BOOTSTRAP DEFAULT VARS ------- //
@import "./components/_defaults"; // REQUIRED
// @import "../../gulp/node_modules/bootstrap/scss/type";
// @import "../../gulp/node_modules/bootstrap/scss/buttons";
// @import "../../gulp/node_modules/bootstrap/scss/breadcrumb";
// @import "../../gulp/node_modules/bootstrap/scss/popover";
// @import "../../gulp/node_modules/bootstrap/scss/nav";
@import "../../gulp/node_modules/bootstrap/scss/navbar";
@import "../../gulp/node_modules/bootstrap/scss/dropdown";
@import "../../gulp/node_modules/bootstrap/scss/carousel";
@import "../../gulp/node_modules/bootstrap/scss/transitions";
// @import "../../gulp/node_modules/bootstrap/scss/forms";
@import "../../gulp/node_modules/bootstrap/scss/modal";
@import "../../gulp/node_modules/bootstrap/scss/input-group";

// -------- IMPORT FONTAWESOME ------- //
@import "../../gulp/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../gulp/node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../gulp/node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../gulp/node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../gulp/node_modules/@fortawesome/fontawesome-free/scss/v4-shims";


// -------- IMPORT COMPONENT STYLES ------- //
// @import "./components/_header";
// @import "./components/_footer";
// @import "./components/_buttons";
@import "./components/_nav";
@import "./components/_home";
@import "./components/_forms";
@import "./components/_contact-modal";
@import "./components/_buttons";




// GLOBALS
html{
    font-size: 14px;
}
body{
    overflow-x: hidden;
}

h1, .h1{
    font-family: $h-family;
    font-size: 2.2rem;
}
h2, .h2{
    font-family: $h-family;
    font-size: 2rem;
}
h3, .h3{
    font-family: $h-family;
    font-size: 1.6rem;
}
h4, .h4{
    font-family: $h-family;
    font-size: 1.4rem;
}
p, .p{
    font-family: $p-family;
    font-size: 1rem;
}
a, .a{
    font-family: $p-family;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}


// UTILITIES
.admin-true{
    margin-top: 30px;
}