.section-about-hero{
    position: relative;

    .hero-right{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 30px;
        height: 100%;
        width: 50%;
        min-width: 915px;
        display: flex;
        flex-direction: column;
    }
}

.section-how{
    .about-service{
        font-family: $p-family;
        font-size: $p-size;
        font-weight: $p-bold;
    }
}