a{
    font-size: $p-size;
    color: $primary;
    font-weight: $p-reg;
    transition: all .2s;

    &:hover{
        color: $secondary;
    }
}

button{
    font-size: $p-size;
    color: $primary;
    transition: all .2s;
}

.btn{
    padding: .75rem 2rem;
    font-size: $p-size-sm;
    line-height: 1;
    border-radius: 3px;
    text-transform: capitalize;
    border: none;
    box-shadow: none;
    font-weight: $p-bold;
    transition: all .2s;
    display: inline-block;

    &.btn-primary{
        background: $primary;
        color: $white;
    }
    &.btn-secondary{
        background: $secondary;
        color: $primary;
    }

    &:hover{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background: $dl-navy;
    }

    &.btn-outline{
        border: 4px solid $primary;
        color: $primary;
        background: transparent;
    }
}


