#contact-modal-section{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;

    .contact-modal-wrap{
        background-color: $white;
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        padding: 2rem;
        border: 80px solid $yellow;

        .container{
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            // close button
            #contact-modal-close{
                background: none;
                border: none;
                position: absolute;
                top: 0;
                right: 0;
                font-size: $h4-size;
                line-height: .8;
                padding: 1rem;

                i{
                    line-height: .8;
                }
                &:hover{
                    color: $secondary;
                }
            }
            
            .row-contact{
                
                .col-email{
                    p{
                        // position: absolute;
                        // top: calc(-1rem - 5px);
                    }
                }
            }
            .row-social{
                .col{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .social-cont{
                        display: flex;

                        a{
                            line-height: 1;
                            display: block;
                            padding: .5rem;

                            i{
                                line-height: 1;
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


//////////////////////////
// Tablet
//////////////////////////
@media only screen and (max-width: 991.98px){
    section{
        &#contact-modal-section{
            .contact-modal-wrap{
                border-width: 50px;

                .col-email{
                    .contact-email{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}


//////////////////////////
// Mobile
//////////////////////////
@media only screen and (max-width: 575.98px){
    section{
        &#contact-modal-section{
            padding-bottom: 60px;
            
            .contact-modal-wrap{
                border-width: 20px;
                border-bottom-width: 60px;

                .col-email{
                    .contact-email{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}