.section-cta{
    background-color: $secondary;
    position: relative;

    .container{
        

        #cta-img{
            position: absolute;
            top: -40%;
            left: 10%;
            width: auto;
            height: 180%;
            display: block;
            transform: rotate(50deg);
            opacity: .4;
        }
    }
}

@media only screen and (max-width: 575.98px){
    .section-cta{
        .container{
            #cta-img{
                right: -10%;
                transform: rotate(-50deg);
                left: unset;
            }
        }
    }
}

