.section-footer{

    .menu-footer-nav-container{
        display: flex;
        justify-content: flex-end;

        li{
            margin-bottom: .5rem;
        }
    }

    .social-list{
        li{
            text-align: right;
        }
    }

    .hr{
        display: block;
        height: 2px;
        background-color: $primary;
    }
}

@media only screen and (max-width: 575.98px){
    .section-footer{
        .col-nav{
            margin-top: 2rem;
        }
        .col-social{
            margin-top: 2rem;
        }
        .menu-footer-nav-container{
            justify-content: flex-start;
        }
    }
}