form{
    &.wpcf7-form{
        label{
            width: 100%;
            position: relative;

            span{
                width: 100%;
            }

            &.input-wrap:after{
                content: "";
                display: block;
                height: 2px;
                background: black;
                width: calc(100% - 4px);
                position: absolute;
                bottom: 0;
                left: 2px;
                z-index: 0;
            }
        }
        input{
            border-style: solid;
            border: none;
            box-shadow: none;
        }
        input[type='text'], input[type='url'], input[type='email'], textarea{
            border: 2px solid $white;
            padding: .25rem 0 .25rem .75rem;
            position: relative;
            width: 100%;
            
            &::placeholder{
                color: $dl-navy;
            }
            &:focus{
                outline: none !important;
                border:2px solid $yellow;
                border-radius: 3px;
                z-index: 9;
            }
        }
    }
}