section{
    &.section-average{
        .col-average{
            .average-cont{
                position: relative;
                display: inline-block;
                height: auto;

                .average-strike{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: block;
                    height: 10%;
                    width: 0;
                    background: $yellow;
                }
                .average-text{
                    line-height: 1.2;
                    color: $primary;
                    display: inline-block;
                    padding: 0 2rem;
                }
            }
        }
        .row-dont-do{
            span{
                display: block;
                position: relative;
                margin-bottom: 1rem;
                z-index: 10;

                &:last-of-type{
                    margin-bottom: 0;
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $l-yellow;
                    display: block;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }
        .row-sweet{
            height: 55rem;
            .p-sweet{
                font-family: $p-family;
                font-weight: $p-black;
                font-size: 18rem;
                stroke: 2px black;
                -webkit-text-stroke: 2px black;
                color: $secondary;
                letter-spacing: -.8rem;
                display: block;
                position: absolute;
                top: 0;
                margin-bottom: 0;
                width: 100%;
                text-align: center;
                // z-index: 101;
                &:nth-of-type(1){
                    font-size: 18rem;
                    z-index: 101;
                }
                &:nth-of-type(2){
                    font-size: 17.8rem;
                    z-index: 100;
                }
                &:nth-of-type(3){
                    font-size: 17.6rem;
                    z-index: 99;
                }
                &:nth-of-type(4){
                    font-size: 17.4rem;
                    z-index: 98;
                }
                &:nth-of-type(5){
                    font-size: 17.2rem;
                    z-index: 97;
                }
                &:nth-of-type(6){
                    font-size: 17rem;
                    z-index: 96;
                }
                &:nth-of-type(7){
                    font-size: 16.8rem;
                    z-index: 95;
                }
                // &:nth-of-type(7){
                //     font-size: 16.6rem;
                //     z-index: 94;
                // }
            }
        }
    }
}

.hero-wrap{
    position: relative;
    
    .hero-bg-pattern{
        height: 30px;
        
        .hero-svg-bg{
            // padding-right: 10px;
            // animation: slide 10s linear infinite;
            overflow: visible;
        }
    }
    .hero-copy-cont{
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    
        .hero-text-cont{
            background-color: white;
            padding: 4rem 2rem;
        }
    }
}

@keyframes slide {
    0%{
        transform: translateX(0);
      }
    100%{
        transform: translateX(100%);
    }
}
@keyframes slide-alt {
    0%{
        transform: translateX(100%);
      }
    100%{
        transform: translateX(0%);
    }
}