
/////////////////////////////////////////
// hero section
/////////////////////////////////////////
.hero-wrap{
    position: relative;
    
    .hero-bg-pattern{
        height: 30px;
        
        .hero-svg-bg{
            // padding-right: 10px;
            // animation: slide 10s linear infinite;
            overflow: visible;
        }
    }
    .hero-copy-cont{
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    
        .hero-text-cont{
            background-color: $primary;
            padding: 4rem 2rem;
            border-radius: 4px;

            h1{
                color: $white;
            }
        }
    }
}

@keyframes slide {
    0%{
        transform: translateX(0);
      }
    100%{
        transform: translateX(100%);
    }
}
@keyframes slide-alt {
    0%{
        transform: translateX(100%);
      }
    100%{
        transform: translateX(0%);
    }
}

/////////////////////////////////////////
// portfolio section
/////////////////////////////////////////
.section-portfolio{
    .row-portfolio-title{
        h2{
            padding-bottom: 1rem;
            margin-bottom: 3rem;
            border-bottom: 2px solid $secondary;
        }
    }
    .row-portfolio-cards{
        .col{
            
            

            a.portfolio-card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: relative;
                transition: color .3s ease-in-out;

                &:before{
                    content: "";
                    background: $white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    display: block;
                    transition: opacity .3s ease-in-out;
                    z-index: 0;
                    border-radius: 4px;
                }

                &:hover{
                    &:before{
                        opacity: 100%;
                    }
                    .portfolio-card-content{
                        p{
                            color: $primary;
                        }
                        h3{
                            color: $primary;
                        }
                    }       
                }

                .portfolio-card-content{
                    z-index: 10;
                    width: 100%;
                    padding: 2rem;

                    .portfolio-image{
                        width: 100%;
                        height: auto;
                        border-radius: 4px;
                        margin-bottom: 2rem;
                    }
                    p{
                        display: block;
                        text-align: left;
                        color: $white;
                        margin-bottom: .2rem;
                    }
                    h3{
                        display: block;
                        text-align: left;
                        color: $white;
                    }
                }
                
            }
        }
    }
}

/////////////////////////////////////////
// average section
/////////////////////////////////////////
section{
    &.section-average{
        .col-average{
            .average-cont{
                position: relative;
                display: inline-block;
                height: auto;

                .average-strike{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: block;
                    height: 10%;
                    width: 0;
                    background: $yellow;
                }
                .average-text{
                    line-height: 1.2;
                    color: $primary;
                    display: inline-block;
                    padding: 0 2rem;
                    font-size: 13vw;
                    font-family: $p-family;
                    font-weight: $p-black;
                    letter-spacing: -4px;
                    color: $primary;
                    margin-bottom: 0;
                }
            }
        }
        .row-dont-do{
            // position: fixed;
            top: 0;
            left: 0;
            // opacity: 0;
            height: 100vh;
            // width: 100vw;
            background: $white;
            transition: .3s ease-in-out;
            // display: none;

            .col{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h2{
                    text-align: left;
                }
            }

            span{
                display: block;
                position: relative;
                margin-bottom: 1rem;
                z-index: 10;

                &:last-of-type{
                    margin-bottom: 0;
                }

                // &:before{
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     background: $l-yellow;
                //     display: block;
                //     width: 100%;
                //     height: 100%;
                //     z-index: -1;
                // }
            }
        }
        .row-sweet{
            height: 50rem;
            .p-sweet{
                font-family: $p-family;
                font-weight: $p-black;
                font-size: 18rem;
                stroke: 2px black;
                -webkit-text-stroke: 2px black;
                color: $secondary;
                letter-spacing: -.8rem;
                display: block;
                position: absolute;
                top: 0;
                margin-bottom: 0;
                width: calc(100% - 30px);
                text-align: center;
                // z-index: 101;
                &:nth-of-type(1){
                    z-index: 101;
                    color: $navy;
                }
                &:nth-of-type(2){
                    z-index: 100;
                    color: $l-navy;
                }
                &:nth-of-type(3){
                    z-index: 99;
                    color: $blue;
                }
                &:nth-of-type(4){
                    z-index: 98;
                    color: $l-blue;
                }
                &:nth-of-type(5){
                    z-index: 97;
                    color: $yellow;
                }
                &:nth-of-type(6){
                    z-index: 96;
                    color: $l-yellow;
                }
                &:nth-of-type(7){
                    z-index: 95;
                    color: $white;
                }
                // &:nth-of-type(7){
                //     font-size: 16.6rem;
                //     z-index: 94;
                // }
            }
        }
    }

    &.section-services{
        .row-services{
            padding-bottom: 0;
        }
    }
}

//////////////////////////
// XL Screen
//////////////////////////
@media only screen and (min-width: 1200px){
    section{
        &.section-average{
            .container{
                .col-average{
                    .average-cont{
                        .average-text{
                            font-size: 12rem;
                        }
                    }
                }
            }
        }
    }
}

//////////////////////////
// Tablet
//////////////////////////
@media only screen and (max-width: 991.98px){
    section{
        &.section-average{
            .container{
                max-width: unset;

                .average-text{
                    // font-size: 8rem;
                }
            }
        }
    }
}


//////////////////////////
// Mobile
//////////////////////////
@media only screen and (max-width: 767.98px){
    section{
        // hero section
        &.section-hero{

            .hero-wrap{
                
                .hero-bg-pattern{
                    &:nth-of-type(n+14):nth-of-type(-n+20){
                        display: none;
                    }
                }
            }
        }

        // average section
        &.section-average{
            .container{
                max-width: unset;

                .average-text{
                    font-size: 6rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 575.98px){
    section{
        &.section-average{
            .container{
                max-width: unset;

                .average-text{
                    font-size: 5rem;
                }
            }
        }
    }
}