

.hero-bg-pattern{
    height: 30px;
    
    .hero-svg-bg{
        // padding-right: 10px;
        // animation: slide 10s linear infinite;
        overflow: visible;
    }
}
@keyframes slide {
    0%{
        transform: translateX(0);
      }
    100%{
        transform: translateX(100%);
    }
}
@keyframes slide-alt {
    0%{
        transform: translateX(100%);
      }
    100%{
        transform: translateX(0%);
    }
}
