nav.navbar{
    a.navbar-brand{
        display: block;
        width: 12rem;
        padding: .5rem 0;

        img{
            width: 100%;
        }
    }
    .navbar-toggler{
        z-index: 99;
        color: $white;
    }
    .navbar-link-container{
        .nav-link{
            color: $white;
            padding: 1rem .5rem;
            margin: 0 .5rem;
            overflow: hidden;
            position: relative;
            transition: all .3s ease-out;

            &:hover{
                color: $secondary;
            }

            &:after{
                content: "";
                position: absolute;
                z-index: 1;
                right: 0;
                width: 0;
                bottom: calc(-.5rem + 3px);
                background: $secondary;
                height: 2px;
                transition-property: width;
                transition-duration: 0.2s;
                transition-timing-function: ease-out;
            }
            &:hover:after{
                left: 0;
                right: auto;
                width: 100%;
            }
        }

    }
}

@media only screen and (max-width: 991px){
    nav.navbar{
        &.active{
            .navbar-brand{
                z-index: 99;
                position: fixed;
                left: 3rem;
                top: 3rem;
            }
            #navbar-mobile{
                font-size: 2rem;
                position: fixed;
                right: 3rem;
                top: 3rem;
            }
            .navbar-link-container{
                align-items: center;
                justify-content: center !important;
            }
        }
        .navbar-link-container{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: $primary;
            

            ul{
                // padding-top: 5rem;
                // padding-left: 5rem;
                // padding-right: 5rem;
                text-align: center;

                li{
                    a{
                        display: block;
                        font-size: $h2-size;
                        font-family: $h-family;
                        font-weight: $h-bold;
                    }
                }
            }

            &.active{
                // position: fixed;
                // top: 0;
                // left: 0;
                // opacity: 1;
                // z-index: 1;
            }
        }
    }
}