.page-template-template-services{
    .section-services{

        .container{
            position: relative;
        }
        .row-services{
            padding-top: 6rem;
            padding-bottom: 6rem;

            &:first-of-type{
                padding-top: 0;
            }
            &:last-of-type{
                padding-bottom: 0;
            }
            // Title
            .service-title{
                margin-bottom: 2rem;
            }
            // Services
            .services-list{
                column-count: 2;
                margin-bottom: 2rem;

                li{
                    margin-right: 2rem;
                    margin-bottom: .5rem;

                    &:nth-last-of-type(2){
                        margin-right: 0;
                    }
                }
            }
            .row-services-featured{
                .col{
                    margin-bottom: 2rem;
                }
            }
            // Tools
            .tool-list{
                display: flex;
        
                .tool-item{
                    display: flex;
                    margin-right: 2rem;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    align-items: center;
        
                    p{
                        margin-left: .5rem;
                        margin-bottom: 0;
                    }
                }
            }
            
            // Image
            .service-image-cont{
                img{
                    width: 100%;
                    height: auto;
                }
            }
            
        } // end .row-servicees

        // image repeat
        .service-img-repeat-cont{
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;

            &#service-img-1{
                opacity: 1;
            }
        }

    } // end .section-services
}



///////////////////
// tablet
///////////////////
@media only screen and (max-width: 991.98px){
    .section-services{
        .row-services{
            .row-service-items{
                // Services
                .services-list{
                    column-count: 2;

                }
            }
        }
    }
}


//////////////////////////
// Horizontal Phone
//////////////////////////
@media only screen and (max-width: 767.98px){
    .section-services{
        .row-services{
            .row-services-featured{
                .col{
                }
            }
            // Image
            .service-image-cont{
                width: 50vw;
                margin: 0 auto 2rem auto;

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}


//////////////////////////
// Mobile
//////////////////////////
@media only screen and (max-width: 575.98px){
    .section-services{
        .row-services{
            .row-services-featured{
                .col{
                }
            }
            // Image
            .service-image-cont{
                width: 70vw;
            }
            

            &:last-of-type{
                .tool-list{
                    display: list-item;
                    column-count: 2;
                }
            }
        }
    }
}


@media only screen and (max-width: 480px){
    .section-services{
        .row-services{
            .row-service-items{
                ul{
                    column-count: 1;
                }
            }
            // Image
            .service-image-cont{
                width: 70vw;

                img{
                }
            }
        }
    }
}