.carousel-testimonials{
    .carousel-inner{
        width: 60%;
        margin: 0 auto;

        .carousel-item.active, 
        .carousel-item-left, 
        .carousel-item-right,
        .carousel-item-next, 
        .carousel-item-prev{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }

        .testimonial-description{
            margin-bottom: 2rem;
            font-size: 1.2rem;
            line-height: 1.7;
            text-align: center;

            &:before{
                content: '"';
            }
            &:after{
                content: '"';
            }
        }

        .testimonial-meta{
            display: flex;
            flex-direction: column;
            align-items: center;

            .testimonial-author{
                // margin-left: 2rem;
            }
            .author{
                margin-bottom: 0;
                font-weight: $p-bold;
                text-align: center;
            }
            .author-title{
                margin-bottom: 0;
                text-align: center;
            }
            .author-company{
                margin-bottom: 0;
                text-align: center;
            }
        }

        .testimonial-headshot{
            width: 4rem;
            height: 4rem;
            background: $primary;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin-bottom: 1rem;

            p{
                font-size: 2rem;
                font-weight: $p-black;
                -webkit-text-stroke: 1.5px $secondary;
                -webkit-text-fill-color: $primary;
            }
        }
    }
}

///////////////////
// tablet
///////////////////
@media only screen and (max-width: 991.98px){
    .carousel-testimonials{
        .carousel-inner{
            width: 80%
        }
        .carousel-control-prev{
            justify-content: flex-start;
        }
        .carousel-control-next{
            justify-content: flex-end;
        }
    }
}


///////////////////
// tablet
///////////////////
@media only screen and (max-width: 767.98px){
    .carousel-testimonials{
        .carousel-inner{
            width: 80%;

            .testimonial-description{
                font-size: 1rem;
            }
        }
        .carousel-control-prev{
            justify-content: flex-start;
        }
        .carousel-control-next{
            justify-content: flex-end;
        }
    }
}