

$yellow: #FFD600;
$blue: #185ADB;
$navy: #0A1931;

$white: #fff;
$black: #000;
$d-gray: #292929;

$primary: #0A1931;
$secondary: #FFD600;

$p-family: 'Open Sans', sans-serif;
$h-family: 'Rajdhani', sans-serif;